{% extends 'admin/layout.html.twig' %}

{% block title %}Admin | Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Modifier le role de l'utilisateur {{ user.email }}</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Valider'}) }}

    <a href="{{ path('user_index') }}">Retour</a>


{% endblock %}
